.profile__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 22px 0 0;
  max-width: 400px;
  flex: 0 0 max-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__title{
    font-size: 27px;
    line-height: 33px;
    max-width: 260px;
  }
}
